<ion-view view-title="Profile">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content class="profile scroll-content" scroll="y">
        <ion-refresher on-refresh="doRefresh($event)">
            <ion-refresher-content pulling-icon="arrow-dropdown"
                                   pulling-text="Pull to refresh"
                                   refreshing-spinner="circles"
                                   refreshing-text="Refreshing...">
            </ion-refresher-content>
        </ion-refresher>
        <div class="row padd-20">
            <div class="col-30">
                <div class="user-image">
                    <img src="img/stud-thumb.jpg" />
                </div>
            </div>
            <div class="col-70 user-info">
                <!--<p>RahulS</p>
                <p>srahul2@gmail.com</p>-->
            </div>
        </div>

        <div class="list-group">
            <div class="list">

                <a class="item item-icon-right" href="#app/settings">

                    Help Center
                    <i class="icon ion-ios-arrow-right"></i>
                </a>

                <a class="item item-icon-right" href="#" style="display:none;">

                    My payments
                    <i class="icon ion-ios-arrow-right"></i>
                </a>

            </div>
        </div>
    </ion-content>

</ion-view>
